
.instagram-feed .blog-post-images {
	height: 270px;
}

.instagram-feed p {
	font-size: 16px
}

.instagram-feed .picto-reseau i:before {
	margin: 0;
}

.instagram-feed .blog-post {
	padding-bottom: 30px;
	position: relative;
}

.instagram-feed .author {
	height: auto;
	position: absolute;
	bottom: 0;
}
.instagram-feed .author a {
	font-weight: bold !important;
	color: #000;
	transition: all ease-in-out .2s;
}

.instagram-feed .author a:hover {
	color: #78815C;
}

.instagram-feed .author i.ti-arrow-down {
	transform: rotate(-45deg);
}

